<td class = "navigation_area">

<h3>Organization Account</h3>
	<ul>
			<li><%= link_to 'Announcements', :controller => 'organizations', :action => 'index' %></li>
			<li><%= link_to 'Application Forms', :controller => 'organizations', :action => 'show_forms' %></li>
			<li>Application Instruction</li>
			<li><%= link_to 'Change Password', :controller => 'organizations', :action => 'change_password' %></li>
			<li><%= link_to 'Help', :controller => 'organizations', :action => 'help' %></li>
		<li><%= link_to 'Logout', :controller => 'main', :action => 'logout' %>
	</ul>
</td>