<%= render :partial => '/organizations/menu' %>
<td class = "content_area">
	<h2><hr>Change Password<hr></h2>
	<div class = "content">
		<%= error_messages_for 'account' %>
		<div id="notification"><%= flash[:notice] %></div>
		<div id="error"><%= flash[:error] %></div>
		
		<% form_tag :controller => 'organizations', :action => 'update_account', :id => @organization.id do %>
			Current Password:<br>
			<%= password_field 'org', 'current_password', :size => "20x1" %><br><br>
			New Password:<br>
			<%= password_field 'org', 'new_password', :size => "20x1" %><br><br>
			Re-type New Password:<br>
			<%= password_field 'org', 'confirm_password', :size => "20x1" %><br><br>
		<table>
		<th class = "buttons_table"><%= submit_tag 'Change Password' %></th> 
		<% end %>
		<th class = "buttons_table"><%= button_to 'Cancel', :controller=> 'organizations', :action=> 'index' %></th>
		</table>
	</div>
	

</td>