<%= render :partial => '/osas/menu' %>
<td class = "content_area">
	<h2><hr><%= "Form 7: #{@data.name}" %><hr></h2>
		<strong><font color = 'red'><%= flash[:notice] %></font></strong>
		<ul>
			<% for filename in @files %>
				 <% pathname = "#{@path}/#{filename}"%>
				 <%= image_tag(pathname, :size => "100x100")  %><br>
				 <li><%= link_to "View #{filename} in full size", :action => 'view_form', :id => @data.id, :pname => pathname, :form => 'form7'%><br><br>
			<% end %>
			<br><br>
		</ul>
	<%= button_to "Back", :controller => 'osas', :action => 'show_forms', :id => @data.id %>
</td>