<%= render :partial => '/osas/menu' %>
<td class = "content_area">
	<h2><hr>New Organization<hr></h2>
	<div class = "content">
		<%= error_messages_for 'account' %>
		<div id="notification"><%= flash[:notice] %></div>
		<div id="error"><%= flash[:error] %></div>
	<% form_tag '/osas/create' do %>
		<label>Organization Name:</label><br>
		<%= text_field_tag 'name' %><br><br>

		<label>Username:</label><br>
		<%= text_field_tag 'username' %><br><br>
			
		<table>
		<th class="buttons_table"><%= submit_tag 'create' %></th>
	<% end %>
		<th class="buttons_table"><%= button_to 'cancel', :action => 'index' %></th>
		</table>
	</div>
</td>