<td class = "content_area">
	<h1><font color='green'>Announcements</font> </h1>
	<div class = "content">
	<ul>
	<% for announcement in @announcements %>
	<li> <%= announcement.message %><br><br></li>
	<% end %>
	</ul>
	</div>
</td>
<td class = "login_area">
  	<% field_set_tag 'Log In' do %>
  	<div id="error"><%= flash[:error] %></div>
		<% form_tag 'main/login' do%>
			Username: <br><%= text_field_tag 'login', nil, :size => "22x1" %> <br>
			Password: <br><%= password_field_tag 'password', nil, :size => "22x1" %> <br><br>
	      <%= submit_tag 'login'%>
		<% end %>
		<%= link_to 'Forgot Password?', :controller => 'notifier', :action => 'index' %>
	<% end %>
</td>
