<%= render :partial => '/osas/menu' %>
<td class = "content_area">
<h2><hr>UPLOAD E-MAIL LIST<hr></h2>
<div id='error'><%= flash[:error] %></div>
<div id='notification'><%= flash[:notice] %></div>
<div class = "content"><br>
<strong>Upload e-mail list text file</strong><br><br>
	<% form_tag ('/osas/uploadEmailAdd',:multipart => true) do %>
	<label for="upload_file">Select File</label> : 
		<%= file_field 'upload','datafile' %>
		<%= submit_tag 'Upload' %>
	<% end%><br><br>

<br><br>
<%= button_to "Back", :controller => 'osas', :action => 'index' %>
</div>
