<%= render :partial => '/osas/menu' %>
	<%if @orgdata.status == -1 %>
	<% @@stat = "Not Renewed"%>
	<%%elsif @orgdata.status == 0>
	<% @@stat = "Pending"%>
	<%else%>
	<% @@stat = "Renewed"%>
	<%end%>
		<td class = "content_area">
			<h2><hr>Organization Listing<hr></h2>
			<p>
			<b>NAME:</b>
				<%=h @orgdata.name %>
			</p>

			<p>
			<b>ACRONYM:</b>
				<%=h @orgdata.acronym %>
			</p>
			<p>
			<b>STATUS:</b>
				<%=h @@stat%>
			</p>

			<p>
			<b>DESCRIPTION:</b>
				<%=h @orgdata.description %>
			</p>

			<p>
			<b>COLLEGE:</b>
			<%=h @orgdata.college%>
			<p>
			<p>
			<b>CATEGORY:</b>
				<%=h @orgdata.category %>
			</p>

			<p>
			<b>NATURE:</b>
				<%=h @orgdata.nature %>
			</p>

			<p>
			<b>TAMBAYAN ADDRESS:</b>
				<%=h @orgdata.tambayan_address %>
			</p>

			<p>
			<b>MAILING ADDRESS:</b>
				<%=h @orgdata.mailing_address %>
			</p>

			<p>
			<b>HEAD'S E-MAIL ADDRESS:</b>
				<%=h @orgdata.email_head %>

			<table border ="0" style="margin-left: 25px">
	<tr>
		<th>ADVISER(S)</th>
	</tr>
  <tr><td>
		<%=h @orgdata.adviser1 %>
    </td>
	</tr>
  <tr><td>
		<%=h @orgdata.adviser2 %>
    </td>
	</tr>
  <tr><td>
		<%=h @orgdata.adviser3 %>
    </td>
	</tr>
</table>
</p>
			<%= button_to "OK", {:action => "search", :id => @orgdata.id} %>

		</td>
