<%= render :partial => '/organizations/menu' %>
<td class = "content_area">
		<h2><hr>Application Forms for University Recognition Renewal<hr></h2>
		<div class = "content">
		<strong><font color = 'red'>ALL SCANNED DOCUMENTS MUST HAVE THEIR HARDCOPY SUBMITTED TO OSA OFFICE</font></strong><br><br>
		Select a form to fill up. <br>
		<ul class = 'form_list'>
			<li><%= link_to 'Form 1 - Information Sheet', :action => 'form1' %><br><br>
			<li>Form 2 - Faculty Adviser, Head and Finance Statement
			<ul>
				<li>Upload scanned copy here (upload button)
			</ul><br>
			<li>Form 4 - Member Roster<br><br>
			<li>Form 5 - Accomplishment Report
			<ul>
				<li><%= link_to 'Create Event Report', :controller => 'events' %>
				<li><%= link_to 'Add Award/Citation', :controller => 'awards' %>
			</ul><br>
			<li>Form 6 - Calendar of Activities
			<ul>
				<li><%= link_to 'Add Event', :controller => 'events', :action => 'new' %>
			</ul><br>
			<li>Form 7 - Acknowledgement 
			<ul>
				<li>Upload scanned copy here (upload button)
			</ul><br>
		</ul><br>
		<% if @data.status == -1 %>
			<%= button_to 'Submit Forms to OSA', :action => 'submit' %>
		<% end %>
		</div>
</td>